.card {
    padding: 2rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    margin: 2rem auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.comment {
    display: flex;
    }

.fav {
    width: 30px;
    height: 30px;
}

.favorito {
    display: flex;
    align-items: center;
}
